input[type="color"] {
    background-color: #fff;
    padding: 10px;
    width: 200px;
    height: 30px;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 3px;
    margin: 20px;
}

select{
    /* background-color: #fff; */
    /* padding: 10px; */
    width: 200px;
    height: 30px;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 3px;
    margin: 20px;
    text-align: center;
    font-weight: bolder;
}

b {
	background-color: #fff;
	padding: 16px;
	font-family: sans-serif;
}

code {
	font-size: 1.2rem;
	background-color: lightslategray;
	color: #fff;
	border-radius: 3px;
	padding: 5px;
}
.colors{
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    /* width: 50%; */
    padding: 10px;
    height: 330px; /* Should be removed. Only for demonstration */
    border-radius: 2%;
  }
  .row{
    border-radius: 8%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .colors{
    display: flex;
    flex-direction: column;
  }

  .column1{
    background-color: #F3F7FA;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 25% ;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .column2{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40% ;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    gap: 1rem;
  }

  .container-fluid{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .flex{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media screen and (max-width: 600px) {
    .flex {
      flex-direction: column;
    }
    .column1{
        width: 90%;
        height: auto;
        padding-bottom: 2rem;
    }
    .img-fluid{
        width: 50%;
    }
    .column2{
        flex-direction: column;
        width: 90%;
        height: auto;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
  }